.alphabet {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: 3px;

  button {
    border: solid 1px green;
    &:disabled {
      background-color: lightgray;
    }
  }
}

$wordBoxDimension: 40px;

.wordBox {
  display: flex;
  margin-bottom: 10px;

  strong {
    display: inline-block;
    width: $wordBoxDimension;
    height: $wordBoxDimension;
    line-height: $wordBoxDimension; // this centers text vertically
    margin-right: 4px;
    text-align: center;
    background-color: inherit;
    text-transform: capitalize;
    border-bottom: solid black 2px;
  }
}
