.alphabet {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: 3px;

  button {
    border: solid 1px green;
    &:disabled {
      background-color: lightgray;
    }
  }
}

$wordBoxDimension: 45px;
.wordBox button {
  width: $wordBoxDimension;
  height: $wordBoxDimension;
  border-radius: 0%;
  border-bottom: solid black 2px;
  background-color: inherit;
  margin-right: 4px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: capitalize;
}
