.alphabet {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: 3px;
  justify-content: center;
  min-width: inherit;
  background-color: inherit;

  button {
    border: solid 1px green;
    &:disabled {
      background-color: lightgray;
    }
  }
}

$wordBoxDimension: 36px;

.wordBoxContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
  min-width: inherit;

  strong {
    display: inline-block;
    width: $wordBoxDimension;
    height: $wordBoxDimension;
    line-height: $wordBoxDimension; // this centers text vertically
    margin: 0 4px;
    text-align: center;
    background-color: inherit;
    text-transform: capitalize;
    border-bottom: solid black 2px;
  }
}

.red {
  color: red;
}

.green {
  color: green;
}
